{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My Shop{% endblock title %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
    </div>
    <div id="subheader">
        <div class="cart">{% if cart.is_empty %}
            Your cart is empty
        {% else %}
        {% with items=cart|length %}
            You have {{ items }} item{{ items|pluralize }} in the cart
        {% endwith %}
        {% endif %} </div>
    </div>
    <div id="content">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>
